<md-content flex class="ng-scope">
	<md-card>
			<div layout="row" layout-align="space-between center">
				<md-subheader> Long Future, Short Call, Long Put </md-subheader>
				<md-subheader ng-class="longFutureOrder.completed ? (longFutureOrder.benefit>0 ? 'md-accent' : 'md-primary') : ''"> Spread: {{(longFutureOrder.benefit/300).toFixed(2)}} </md-subheader>
			</div>
			<md-card-content>
			<md-list layout-padding>
				<md-list-item layout layout-sm="row">
					<div class="order-request-detail-header">Execution Price</div>
					<div class="order-request-detail-header">Call Ticker</div>
					<div class="order-request-detail-header">Call Price</div>
					<div class="order-request-detail-header">Call Bid1 Price</div>
					<div class="order-request-detail-header">Call Bid1 Volume</div>
					<div class="order-request-detail-header">Put Ticker</div>
					<div class="order-request-detail-header">Put Price</div>
					<div class="order-request-detail-header">Put Ask1 Price</div>
					<div class="order-request-detail-header">Put Ask1 Volume</div>
					<div class="order-request-detail-header">Intended Volume</div>
					<div class="order-request-detail-header">Spread</div>
				</md-list-item>
				<md-list-item layout layout-sm="row" ng-repeat="order in longFutureOrder.orders">
					<div class="order-request-detail">{{order.exePrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.callTicker}}</div>
					<div class="order-request-detail">{{order.callPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.callBOCPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.callBOCVol}}</div>
					<div class="order-request-detail">{{order.putTicker}}</div>
					<div class="order-request-detail">{{order.putPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.putBOCPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.putBOCVol}}</div>
					<div class="order-request-detail">{{order.intendedVol}}</div>
					<div class="order-request-detail">{{order.spread.toFixed(2)}}</div>
				</md-list-item>
			</md-list>
				<div>As of {{longFutureOrder.time}}</div>
		<md-card-content>
	</md-card>

	<md-card>
		<div layout="row" layout-align="space-between center">
			<md-subheader> Short Future, Long Call, Short Put </md-subheader>
			<md-subheader ng-class="shortFutureOrder.completed ? (shortFutureOrder.benefit>0 ? 'md-accent' : 'md-primary') : ''"> Spread: {{(shortFutureOrder.benefit/300).toFixed(2)}} </md-subheader>
		</div>
			<md-card-content>
			<md-list layout-padding>
				<md-list-item layout layout-sm="row">
					<div class="order-request-detail-header">Execution Price</div>
					<div class="order-request-detail-header">Call Ticker</div>
					<div class="order-request-detail-header">Call Price</div>
					<div class="order-request-detail-header">Call Ask1 Price</div>
					<div class="order-request-detail-header">Call Ask1 Volume</div>
					<div class="order-request-detail-header">Put Ticker</div>
					<div class="order-request-detail-header">Put Price</div>
					<div class="order-request-detail-header">Put Bid1 Price</div>
					<div class="order-request-detail-header">Put Bid1 Volume</div>
					<div class="order-request-detail-header">Intended Volume</div>
					<div class="order-request-detail-header">Spread</div>
				</md-list-item>
				<md-list-item layout layout-sm="row" ng-repeat="order in shortFutureOrder.orders">
					<div class="order-request-detail">{{order.exePrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.callTicker}}</div>
					<div class="order-request-detail">{{order.callPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.callBOCPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.callBOCVol}}</div>
					<div class="order-request-detail">{{order.putTicker}}</div>
					<div class="order-request-detail">{{order.putPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.putBOCPrice.toFixed(4)}}</div>
					<div class="order-request-detail">{{order.putBOCVol}}</div>
					<div class="order-request-detail">{{order.intendedVol}}</div>
					<div class="order-request-detail">{{order.spread.toFixed(2)}}</div>
				</md-list-item>
			</md-list>
				<div>As of {{shortFutureOrder.time}}</div>
		<md-card-content>
	</md-card>

</md-content>

<div style="position:absolute;bottom:5px;right:5px">
		<md-fab-speed-dial md-direction="up" ng-class='md-fling'>
				<md-fab-trigger>
						<md-button aria-label="Menu" class="md-fab md-warn">
								<md-icon>
										<span class='glyphicon glyphicon-menu-hamburger' aria-hidden="true"></span>
								</md-icon>
						</md-button>
				</md-fab-trigger>
				<md-fab-actions>
						<md-button aria-label="add" ng-click='addNew()' class="md-fab md-primary md-mini">
								<md-icon>
										<span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
								</md-icon>
						</md-button>
						<md-button aria-label="execute" ng-click='placeOrder()' class="md-fab md-warn md-mini">
								<md-icon>
										<span class='glyphicon glyphicon-flash' aria-hidden="true"></span>
								</md-icon>
						</md-button>
				</md-fab-actions>
		</md-fab-speed-dial>
</div>
