<html data-ng-app="ubermax">

<head>
    <title>UberMax</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/icon">
    <link type="text/css" href="static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="static/assets/css/loading-bar.min.css" rel="stylesheet" />
    <link type="text/css" href="static/assets/css/angular-material.min.css" rel="stylesheet" />
    <link type="text/css" href="static/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.material.min.css" />
    <script type="text/javascript" src="static/assets/script/jquery.min.js"></script>
    <script type="text/javascript" src="static/assets/script/angular.min.js"></script>
    <script type="text/javascript" src="static/assets/script/angular-route.js"></script>
    <script type="text/javascript" src="static/assets/script/angular-animate.min.js"></script>
    <script type="text/javascript" src="static/assets/script/angular-aria.min.js"></script>
    <script type="text/javascript" src="static/assets/script/angular-material.min.js"></script>
    <script type="text/javascript" src="static/assets/script/loading-bar.min.js"></script>
    <script type="text/javascript" src="static/assets/script/lodash.min.js"></script>
    <script type="text/javascript" src="static/assets/script/angular-simple-logger.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="static/assets/script/angular-google-maps.min.js"></script>
    <script type="text/javascript" src="static/app/app.js"></script>
    <script type="text/javascript" src="static/app/controllers/next_dest.js"></script>
    <script type="text/javascript" src="static/app/directives/animatedView.js"></script>
    <script src="//kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js"></script>
</head>

<body ng-app="ubermax">
    <!--<div ng-controller="AppCtrl" layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" style="max-width:15%" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"  layout-fill>
          <md-toolbar class="md-theme-indigo" layout="row" layout-align="center center">
              <img ng-src="static/assets/img/icon-reverse.png" width="32" height="32" alt="sandglass" style="margin-left:15px;margin-right:10px">
              <h1 class="md-toolbar-tools" style="font-weight:bold">Sandglass</h1>
          </md-toolbar>
          <md-content layout-padding ng-controller="LeftCtrl">
              <md-list>
                  <md-button ng-click="close()" class="md-primary" hide-gt-md>
                      <span class="glyphicon glyphicon-chevron-left"></span>Close
                  </md-button>
                  <md-list-item ng-repeat="nav in navmap">
                      <md-button style="width:100%" ng-click="gotoPage(nav.url,nav.name);close();">{{nav.name}}</md-button>
                  </md-list-item>
              </md-list>
          </md-content>
      </md-sidenav>
      <md-content flex>
          <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar md-default-theme">
              <div class="md-toolbar-tools">

                  <img ng-src="static/assets/img/icon.png" width="24" height="24" alt="sandglass" style="margin-right:10px" ng-click="toggleLeft()" hide-gt-md>
                  <h2>{{pageName}}</h2>
              </div>
          </md-toolbar>
          <md-content flex data-animated-view style="height:100%"></md-content>
      </md-content>
  </div>-->

     <md-content flex data-ng-view style="height:100%"></md-content>

</body>

</html>
